includes:
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ./vendor/nesbot/carbon/extension.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./phpstan-baseline.neon

parameters:
    parallel:
        processTimeout: 1200.0

    stubFiles:
        - phpstan-annotation.php.stub

    paths:
        - app
        - bootstrap
        - config
        - database
        - public
        - resources
        - routes

    # The level 9 is the highest level
    level: 5

    ignoreErrors:

    excludePaths:
        - bootstrap/cache/*
        - *.php.stub
        - *.stub
        - resources/*/*.blade.php

    reportUnmatchedIgnoredErrors: true
